/* Global reset with specificity */
* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
}

h1:last-child {
  margin-bottom: 0;
}

#second-test {
  margin-bottom: 40px;
}

.second-test {
  margin-bottom: 50px;
}
