body {
  color: blue; /*inherited*/
  font-size: 20px; /*inherited, but overrided in child CSS rule*/
  border: 5px solid green; /*Not inherited*/
}

p {
  background-color: red;
  font-size: 12px; /*inherited, but overrided in child CSS rule*/
}
